
<div class="container-fluid head-content header-bgimage">
    <div class="container">
        <div class="slogan col-xs-12 col-sm-12 col-md-6 col-md-offset-1 col-lg-6 pull-right">
            <h1 class="text-uppercase"><span class="light-blue">BREAKDOWN</span> GAME FOOTAGE.
                <span class="light-blue">IMPROVE</span> YOUR PLAYERS.
                <span class="light-blue">STREAM</span> LIVE GAMES.</h1>
        </div>
        <div class="mail-form col-xs-12 col-sm-12 col-md-5 col-lg-5 p-x-2 p-y-2">
            <p class="form-msg m-b-1">
                Game Face is in private beta. As an early adopter, register now and receive 3 months free when we go live.
            </p>
            <form action="http://getgameface.us13.list-manage1.com/subscribe/post" method="post" id="mcform" name="mcform" data-toggle="validator" role="form">
                <input type="hidden" name="u" value="e0bad2026b1f72bc9490214ff">
                <input type="hidden" name="id" value="e0bd2ec55e">

                <md-input-container class="md-block">
                    <label>TEAM NAME</label>
                    <input required md-no-asterisk id="iname" name="tname" ng-model="vm.Team.name">
                    <div ng-messages="mcform.tname.$error">
                        <div ng-message="required">Team name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>EMAIL</label>
                    <input required type="email" md-no-asterisk id="imail" name="email" ng-pattern="/^.+@.+\..+$/" ng-model="vm.Team.email">
                    <div ng-messages="mcform.email.$error">
                        <div ng-message-exp="['required', 'pattern']">
                            Email is required in right format.
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>SPORT</label>
                    <input required md-no-asterisk id="isport" name="sport" ng-model="vm.Team.sport">
                    <div ng-messages="mcform.sport.$error">
                        <div ng-message="required">Sport is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Association</label>
                    <input required md-no-asterisk id="iassoc" name="association" ng-model="vm.Team.association">
                    <div ng-messages="mcform.association.$error">
                        <div ng-message="required">Association is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>LEVEL</label>
                    <input required md-no-asterisk id="ilevel" name="level" placeholder="LEVEL OF PLAY (e.g,.A ,AA)" ng-model="vm.Team.level">
                    <div ng-messages="mcform.level.$error">
                        <div ng-message="required">Level is required.</div>
                    </div>
                </md-input-container>


                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e0bad2026b1f72bc9490214ff_e0bd2ec55e" tabindex="-1" value=""></div>-->
                <md-button type="submit" name="subscribe" id="mc-embedded-subscribe" class="md-raised md-primary">Register</md-button>
            </form>
            <script type='text/javascript' src='http://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='SPORT';ftypes[2]='text';fnames[3]='ASSOC';ftypes[3]='text';fnames[4]='LEVEL';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</div>

<div class="container-fluid home-spots">
    <div class="container">
        <h2 class="text-uppercase p-y-3 col-md-8 col-md-offset-2">BRINGING COACHING TO A WHOLE NEW LEVEL</h2>

        <div class="row">
            <div class="col-xs-12 m-b-2">
                <section class="awsome-spot col-xs-12 col-md-4">
                    <h4 class=" m-y-2">Dial in those key moves with video instruction</h4>
                    <p class="card-text">It’s hard to get instructions to stick in the few minutes after the game. Game Face gives you the opportunity to provide detailed and meaningful instruction with video. Clip out key video moments and share it with your players with one to one messaging.</p>
                </section>
                <section class="col-xs-12 col-md-6 col-md-offset-2">
                    <img class="img-responsive center-block" data-src="" src="assets/images/deke.png"  alt="Card image cap">
                </section>
            </div>
        </div><!-- staff row -->
    </div><!-- content container-->
</div>

<div class="container-fluid team-feature">
    <div class="container">
        <div class="m-t-2" id="featues">
            <div class="card col-sm-6 col-lg-4 m-y-3">
                <div class="focus-point m-y-2">
                    <img class="img-responsive pull-left" data-src="" src="assets/images/connect.png"  alt="sponser">
                    <h5 class="card-title m-y-2 m-l-2 pull-left">Attract Sponsors</h5>
                </div>
                <p class="card-text">Grow a captive audience by publishing high quality long and short form video, and monetize that audience with targeted local sponsorship. Gary from local pro shop would love that, you should call him.</p>
            </div>
            <div class="card col-sm-6 col-lg-4 m-y-3">
                <div class="focus-point m-y-2">
                    <img class="img-responsive pull-left" data-src="" src="assets/images/safety.png"  alt="safety">
                    <h5 class="card-title m-y-2 m-l-2 pull-left">Privacy is paramount</h5>
                </div>
                <p class="card-text">Like you, we take the privacy, safety and well-being of the athletes on Game Face very seriously. Choose how any of your video clips are shared and who gets to see them.</p>
            </div>
            <div class="card col-sm-6 col-lg-4 m-y-3">
                <div class="focus-point m-y-2">
                    <img class="img-responsive pull-left" data-src="" src="assets/images/connect.png"  alt="connect">
                    <h5 class="card-title m-y-2 m-l-2 pull-left">Connect your team</h5>
                </div>
                <p class="card-text">Get the most out of Game Face when your team is on too. Features like 1:1 messaging and clip sharing between you and your players, will help you improve your game at any skill level. </p>
            </div>
        </div><!-- staff row -->
    </div><!-- content container-->
</div>

<div class="container-fluid home-spots">
    <div class="row">
        <section class=" col-xs-12 col-md-6 pull-right">
            <div id="stream-sec">
                <h4>Stream your games live or on demand</h4>
                <p class="card-text">Parents are your biggest supporters. Give them the chance to watch their games when they can’t make it in person. Watch on any device connected to the internet.</p>
            </div>
        </section>

        <img id="mobilehand-img" class="img-responsive col-xs-12 col-md-6 center-block" data-src="" src="assets/images/mobile-hand.png"  alt="Card image cap">

    </div>
    <div class="row m-y-3 text-center p-t-3">
        <span class="blue-title">PRICING</span>
        <img id="price-900" class="img-responsive center-block" data-src="" src="assets/images/900.png" alt="900">
        <p>Yup it’s just that simple.</p>
    </div>
    <div class="row m-y-3 text-center">
        <div class="text-center">
            <button class="wide-light-btn">Call us to get set up.  1 (888) 555-5555 </button>
        </div>
    </div>
</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="src/helpers/validator.js"></script>
<script src="src/helpers/mailchimp.js"></script>
