.excluded-form {
  display: inline-block;
  margin-bottom: 15px;
}
.table-actions a{
  font-size: 18px;
  display: inline-block;
  margin: 0 2px;
}
.excluded-table {
  form{
    display: none;
  }
}