

$background	  :	#ffffff;
$container-bg : #eeeeee;
$gray-bg      : #f9f9f9;

$white      :   #ffffff;
$dark-blue	:	#0f475e;
$light-blue	:	#35c5ff;
$light-gray :   #666666;
$dark-gray  :   #262626;

$reg-btn    :   #0f475e;

$focus      :   #0f475e;
$error      :   #ff0000;  //red


