

$h1-head-mobile-mg        :   0px;
$slogan-head-mg           :   400px;
$slogan-head-s-mobile-mg  :   155px;
$slogan-head-mobile-mg    :   144px;
$slogan-head-tablet-mg    :   155px;
$mail-form-mg             :   325px;

$top-header			      :	  60px;
$top-header-mobile	      :	  25px 0;
$top-header-height		  :	  882px;
$top-header-mob-height    :   350px;
$top-header-phone	      :	  15px 0 0 0;

$nav-mobile-height        :   60px;


$feature-padding	      :	  95px;
$feature-top-margin-mob   :   520px 0 0 0;

$form-bottom              :   60px;
$radius                   :   0;


$mail-form-tablet         :    0px 0 0 0;
$mail-form-mobile         :    350px 0 0 -15px;
$mail-form-old-mobile     :    350px 0 0 0;

