
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:900);


$regular-font	:	'Open Sans', sans-serif;
$head-font        :   'Source Sans Pro';


//sizes

$body-font          :   15px;
$slogan				:	14px;
$nav-items 			:	14px;
$nav-items-mobile	:	12px;
$feature			:	12px;
$subtext			:	24px;
$subtext-mobile		:	19px;
$h1-size			:	74px;
$h1-laptop			:	60px;
$h1-tablet			:	40px;
$h1-mobile			:	32px;
$h1-s-mobile		:	28px;
$h2-size			:	56px;
$h2-tablet			:	44px;
$h2-mobile			:	32px;
$h2-s-mobile        :   28px;
$h4-size			:	32px;
$h4-mobile			:	22px;
$h5-size			:	21px;
$h5-mobile			:	18px;

$form-label         :   10px;

$article-titles		:	1.3em;
$article-titles-lh	:	14px;
$article-subtitles	:	14px;
$sidebar-titles		:	16px;
$forum-title		:	14px;
$forum-auth			:	12px;
