@font-face {
    font-family: RobotoBold;
    src: url(../fonts/custom_fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/custom_fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../fonts/custom_fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/custom_fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/custom_fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/custom_fonts/OpenSans-Bold.ttf);
}